*{
    margin: 0;
    padding: 0;
    
}
@font-face {
    src: url(../lobseter/Lobster_Two/LobsterTwo-Regular.ttf);
    font-family: academy;
}
#nav_menu a{
    color: red;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
#nav_menu a:hover{
    letter-spacing: 2px;
    transition:0.8s;
    text-shadow: 0.5px 1px;
    
}