*{
    margin: 0;
    padding: 0;
    
}

.logo{
    width: 300px;
    height: 150px;
    margin-left: 40px;
    margin-top: 10px;

}

.nav_logo{
    margin: 0;
    float: left;

}

.nav_bar{
    background-color: black;
}
